body {
	text-align: center;
}

li {
	list-style-type: none;
}

input {
	font-size: 15px;
	border-radius: 6px;
}

.list {
	cursor: pointer;
	margin-left: -6em;
	margin-top: 1.5em;
	line-height: 1.5em;
	font-size: 1.5em;
}