.wrapper {
	text-align: center;
	background-image: url("../images/notepad.jpg");
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: top center;
	height: 100%;
	width: 1500px;
}

h1 {
	margin-bottom: 0;
	padding-top: 3em;
}

li {
	list-style-type: none;
}

input, button {
	font-size: 15px;
	border-radius: 6px;
	margin-top: 1em;
}

.list {
	cursor: pointer;
	text-align: left;
	margin: .5em 28em 0 25em;
	line-height: 1.6em;
	font-size: 1.5em;
}

/*change the divs*/